.App {
  text-align: center;
}
.zoomable-image:hover {
  transform: scale(1.05);
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.custom-navbar-collapse {
  z-index: 1000;
  background-color: #ffc107;
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}
